<div class="church-api-add-presences" layout-padding flex>
    <md-card layout-padding flex>
        <div layout="row" flex>
            <md-input-container class="input-search" flex>
                <label>Bipe aqui o codigo de barras</label>
                <input ng-model="addPresencesCtrl.barcode" ng-keyup="$event.keyCode == 13 && addPresencesCtrl.registryPresence()">
            </md-input-container>

        </div>
        <div ng-show="!addPresencesCtrl.peoples.length" layout="row" layout-align="center" flex>
            <span class="not-results">Nenhuma pessoa cadastrada com esse codigo de barras!</span>
        </div>
        <p>Ultima prensença cadastrada</p>
        <div layout="column" ng-if="addPresencesCtrl.lastPresence" class="printer-person-dialog" layout-padding flex>
            <div layout="row" layout-align="space-between center" flex>
                <div layout="row" layout-align="start end">
                    <span class="label">Nome: </span>
                    <span class="value">{{addPresencesCtrl.lastPresence.first_name}} {{addPresencesCtrl.lastPresence.last_name}}</span>
                </div>
                <img ng-src="{{addPresencesCtrl.lastPresence.photo}}" class="md-avatar img-size" ng-if="addPresencesCtrl.lastPresence.photo" title="{{addPresencesCtrl.lastPresence.first_name}}"
                    alt="{{addPresencesCtrl.lastPresence.first_name}}">
                <img ng-src="{{'/assets/images/default-avatar.png'}}" class="md-avatar img-size" ng-if="!addPresencesCtrl.lastPresence.photo" title="{{addPresencesCtrl.lastPresence.first_name}}"
                    alt="{{addPresencesCtrl.lastPresence.first_name}}">
            </div>
            <div layout="row" layout-align="space-between center" flex>
                <div layout="row" layout-align="start end">
                    <span class="label">Igreja: </span>
                    <span class="value">{{addPresencesCtrl.lastPresence.church}}</span>
                </div>
                <div layout="row" layout-align="start end">
                    <span class="label">Departamento: </span>
                    <span class="value">{{addPresencesCtrl.lastPresence.departure}}</span>
                </div>
            </div>
        </div>
    </md-card>
</div>
