<div class="church-api-add-presences" layout-padding flex>
    <md-card layout-padding flex>
        <div layout="row" flex>
            <md-input-container class="input-search" flex>
                <label>Bipe aqui o codigo de barras</label>
                <input ng-model="addPresencesCtrl.barcode" ng-keyup="$event.keyCode == 13 && addPresencesCtrl.registryPresence()">
            </md-input-container>

        </div>
        <div ng-show="!addPresencesCtrl.peoples.length" layout="row" layout-align="center" flex>
            <span class="not-results">Nenhuma pessoa cadastrada com esse codigo de barras!</span>
        </div>
        <div ng-if="addPresencesCtrl.lastPresence">
            <span>Ultimo presença cadastrada</span>
            <div layout="column">
                <div layout="row" layout-align="spce-between center">
                    <span>Nome: {{addPresencesCtrl.lastPresence.first_name}}</span>
                    <span>Sobrenome: {{addPresencesCtrl.lastPresence.last_name}}</span>
                </div>
                <div layout="row" layout-align="spce-between center">
                    <span>Igreja: {{addPresencesCtrl.lastPresence.church}}</span>
                    <span>Departamento: {{addPresencesCtrl.lastPresence.departure}}</span>
                </div>
            </div>
        </div>
    </md-card>
</div>