.church-api-person {

    md-card{
        padding: 8px;
    }

    .not-results{
        padding: 80px 0px;
        color: gray;
    }

    .btn-more{
        position: fixed;
        bottom: 15px;
        right: 15px;
    }

    .title{
        font-size: 20px;
        color: #2b5a71;
    }

    .input-search{
        margin: 0px
    }


}

.add-person-dialog{

}

.printer-person-dialog{

    .label{
        font-size: 20px;
    }

    .value{
        font-size: 15px;
        font-weight: 300;
    }

    .img-size{
        max-width: 35px;
        max-heigth: 35px;
    }

    @media print{
        md-toolbar{
            visibility: hidden;
        }
        md-dialog-actions{
            visibility: hidden;
        }
    }

    .size{
        width: 377px;
        height: 264px;
    }
}