<div class="church-api-person" layout-padding flex>
    <md-card layout-padding flex>
        <div layout="row" flex>
            <md-input-container class="input-search" flex>
                <label>Pesquisa por nome</label>
                <input ng-model="personCtrl.searchText">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="personCtrl.searchByName()">
                <md-icon>search</md-icon>
                <md-tooltip>Pesquisar</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="personCtrl.refresh()">
                <md-icon>close</md-icon>
                <md-tooltip>Limpar</md-tooltip>
            </md-button>
        </div>
        <div ng-show="!personCtrl.peoples.length" layout="row" layout-align="center" flex>
            <span class="not-results">Nenhuma pessoa cadastrada!</span>
        </div>
        <div ng-show="personCtrl.peoples.length" layout="column" flex>
            <md-table-container flex>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>
                                Nome
                            </th>

                            <th md-column>
                                Email
                            </th>

                            <th md-column>
                                Telefone
                            </th>

                            <th md-column>
                                Cargo
                            </th>

                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="person in personCtrl.peoples | orderBy: 'name'">
                            <td md-cell>{{person.name}}</td>
                            <td md-cell>{{person.email}}</td>
                            <td md-cell>{{person.phone}}</td>
                            <td md-cell>{{person.occupation}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <md-button class="md-fab btn-more" aria-label="Eat cake" ng-click="personCtrl.addPerson($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-card>
</div>