<div class="church-api-person" id="printable" layout-padding flex>
    <md-card layout-padding flex>
            <div layout="row" flex>
                <md-input-container class="input-search" flex>
                    <label>Pesquisa por nome</label>
                    <input ng-model="personCtrl.searchText">
                </md-input-container>
                <md-button class="md-icon-button" ng-click="personCtrl.searchByName()">
                    <md-icon>search</md-icon>
                    <md-tooltip>Pesquisar</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="personCtrl.refresh()">
                    <md-icon>close</md-icon>
                    <md-tooltip>Limpar</md-tooltip>
                </md-button>
            </div>
        <div ng-show="!personCtrl.peoples.result.length" layout="row" layout-align="center" flex>
            <span class="not-results">Nenhuma pessoa cadastrada!</span>
        </div>
        <div ng-show="personCtrl.peoples.result.length" layout="column" flex>
            <md-table-container flex>
                <table md-table flex>
                    <thead md-head flex>
                        <tr md-row flex>
                            <th md-column>
                                Nome
                            </th>

                            <th md-column>
                                Sobrenome
                            </th>

                            <th md-column>
                                Igreja
                            </th>

                            <th md-column>
                                Departamento
                            </th>

                            <th md-column>
                                Presenças
                            </th>
                            <th md-column>

                            </th>

                        </tr>
                    </thead>
                    <tbody md-body flex>
                        <tr md-row ng-repeat="person in personCtrl.peoples.result | orderBy: 'name'" flex>
                            <td md-cell flex>{{person.first_name}}</td>
                            <td md-cell>{{person.last_name}}</td>
                            <td md-cell>{{person.church}}</td>
                            <td md-cell>{{person.departure}}</td>
                            <td md-cell>{{person.presences}}</td>
                            <td md-cell layout="row">
                                <md-button class="md-icon-button" ng-click="personCtrl.editPerson($event, person)">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip>Editar</md-tooltip>
                                </md-button>
                                <md-button ng-click="personCtrl.printIdentifier($event, person)">
                                    Imprimir
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <div class="paginator" layout="row" layout-align="end center" ng-if="personCtrl.peoples.result.length" flex>
            <div class="label-pages" ng-show="(query.page * query.limit) < personCtrl.peoples.limit">
                {{(query.page * query.limit) - (query.limit -1)}} - {{query.page * query.limit}} de {{personCtrl.peoples.limit}}
            </div>
            <div class="label-pages" ng-show="(query.page * query.limit) >= personCtrl.peoples.limit">
                {{(query.page * query.limit) - (query.limit -1)}} - {{personCtrl.peoples.limit}} de {{personCtrl.peoples.limit}}
            </div>
            <md-button class="md-icon-button" ng-click="query.page = 1" ng-disabled="query.page == 1">
                <md-icon>first_page</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="query.page = query.page - 1" ng-disabled="query.page == 1">
                <md-icon>navigate_before</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="query.page = query.page + 1" ng-disabled="query.page == query.last_page">
                <md-icon>navigate_next</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="query.page = query.last_page" ng-disabled="query.page == query.last_page">
                <md-icon>last_page</md-icon>
            </md-button>
        </div>
      
        <md-button class="md-fab btn-more" aria-label="Eat cake" ng-click="personCtrl.addPerson($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-card>
</div>